@import url(product-sans.css);

$primary-color: #2D47BF;
$white: #FFFFFF;

$absolute: absolute;
$relative: relative;
$fixed: fixed;

$block: block;
$inline-block: inline-block;

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: $block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: $block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1 {
  font-family: "Product Sans";
  font-size: 42px;
  font-weight: 700;
  padding: 0 30px;
  position: $relative;
  display: $inline-block;
  &:after {
    content: "";
    position: $absolute;
    background: #1869CD;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    bottom: 10px;
    right: 5px;
  }
}

svg {
  width: 100%;
  position: absolute;
  bottom: -580px;
  right: -60px;
  z-index: 2;
}

.padZero {
  padding: 0;
}

ul.nav-list {
  float: right;
  padding: 20px 0;
  li {
    list-style: none;
    float: left;
    padding: 15px 25px;
    position: $relative;
    font-size: 13px;
    &.active:after {
      content: "";
      position: $absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: $white;
      width: 5px;
      height: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    &.rq-cta {
      border: 1px solid $white;
    }
  }
}

.rq-logo {
  font-size: 26px;
  padding: 25px 0;
  font-family: "Product Sans";
  font-weight: bold;
}

.rq-header {
  background: transparent;
  position: $absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  z-index: 1;
  color: $white;
}

.rq-landing {
  position: $relative;
  background: #0C175F;
  height: 100vh;
}

.rq-services {
  position: $relative;
  background: $white;
  height: 100vh;
  display: flex;
  align-items: center;
  p {
    font-size: 20px;
    margin: 30px;
    line-height: 28px;
    width: 33.33%;
    font-weight: 100;
  }
  .card {
    background: $white;
    float: left;
    width: 95%;
    height: 270px;
    padding: 20px;
    z-index: 2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 5px solid #3E5BE0;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.07);
    span:last-child {
      position: $absolute;
      bottom: 20px;
      left: 20px;
    }
  }
  .title {
    font-family: "Product Sans";
    font-size: 24px;
    line-height: 28px;
  }
  .card {
    span:first-child {
      position: $absolute;
      top: 40%;
      transform: translateY(-50%);
    }
    &.one {
      position: $absolute;
      top: 60px;
      height: 275px;
    }
    &.two {
      position: $absolute;
      top: 60px;
      height: 305px;
    }
    &.three {
      position: $absolute;
      top: -120px;
      height: 305px;
    }
    &.four {
      position: $absolute;
      top: -90px;
      height: 275px;
    }
  }
}

.rq-expertise {
  position: $relative;
  .expertise-offset {
    height: 437px;
  }
  .expertise-content {
    background: #F8F8F8;
    padding-bottom: 25px;
  }
  h4 {
    font-family: "Product Sans";
    font-size: 28px;
  }
  p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 20px;
  }
  .card {
    float: left;
    position: $relative;
    overflow: hidden;
    width: 50%;
    margin-top: 60px;
    img {
      border-radius: 32px;
      margin: 0 auto;
    }
    .overlay {
      position: $absolute;
      padding: 20px;
      color: $white;
      bottom: 0;
      right: 6%;
      left: 25%;
      border-bottom-right-radius: 32px;
      background: rgba(0,0,0,0.95);
      top: 50%;
    }
  }
}

.rq-clients {
  position: $relative;
  background: $primary-color;
  padding: 250px 0;
  p {
    color: $white;
    margin: 15px 0;
  }
  h1 {
    color: $white;
    &:after {
      background: $white;
    }
  }
}

.rq-case-studies {
  position: $relative;
  background: $white;
  padding: 250px 0;
  .card {
    background: #333230;
    position: $relative;
    width: 85%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 380px;
    padding: 50px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.07);
    ul.cs-list {
      position: $absolute;
      bottom: 50px;
      left: 50px;
      z-index: 1;
      li {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        list-style: none;
        line-height: 28px;
        font-weight: bold;
      }
    }
    &.one, &.two, &.six {
      color: $white;
    }
    &.three, &.four, &.five {
      color: #191919;
    }
    &.one .cs-bg {
      position: $absolute;
      left: -235px;
    }
    &.two .cs-bg {
      position: $absolute;
      left: 0;
      top: 0;
    }
    &.three .cs-bg {
      position: $absolute;
      right: 0;
      bottom: 15px;
    }
    &.four .cs-bg {
      position: $absolute;
      right: 0;
      top: 0;
    }
    &.five .cs-bg {
      position: $absolute;
      right: -50px;
    }
    &.six .cs-bg {
      position: $absolute;
      right: -15px;
      bottom: 0;
    }
    .title {
      font-family: "Product Sans";
      font-size: 32px;
      position: $relative;
      z-index: 1;
    }
    &.one {
      background: #333230;
    }
    &.two {
      background: #242428;
    }
    &.three {
      background: #F2D91D;
    }
    &.four, &.five {
      background: $white;
    }
    &.six {
      background: #372543;
    }
  }
}

.rq-achievements {
  position: $relative;
  background: $white;
  padding: 30px 0;
}

.rq-awards span {
  display: $inline-block;
  vertical-align: middle;
  padding: 20px 30px;
}

.rq-partners {
  position: $relative;
  background: $white;
  height: 1092px;
  padding: 30px 0;
  .container {
    > div {
      position: $absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
    }
  }
}

.rq-testimonials h1 {
  color: $white;
  &:after {
    background: $white;
  }
}

.testimonial-header {
  > div {
    display: $inline-block;
    vertical-align: middle;
    color: $white;
    text-align: left;
    span {
      display: $block;
    }
  }
}

.testimonial-content {
  font-size: 16px;
  color: $white;
  text-align: left;
}

.rq-partners-wrapper {
  height: 500px;
  position: $relative;
  margin-top: 60px;
  span {
    width: 192px;
    height: 192px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: $white;
    position: $absolute;
    -webkit-box-shadow: 0 3px 46px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 3px 46px rgba(0,0,0,0.07);
    box-shadow: 0 3px 46px rgba(0,0,0,0.07);
    img {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    &.one {
      top: 0;
      left: 0;
    }
    &.two {
      top: 0;
      left: 250px;
      z-index: 2;
    }
    &.three {
      top: 115px;
      left: 100px;
      width: 225px;
      height: 225px;
      z-index: 1;
    }
    &.four {
      top: 300px;
      left: 75px;
      z-index: 2;
    }
    &.five {
      top: 230px;
      left: 285px;
    }
  }
}

.rq-contact {
  position: $relative;
  background: #2E48BF;
  padding: 100px 0;
  .circle {
    position: $absolute;
    right: 0;
    bottom: 0;
    border-radius: 70px;
    background: $white;
  }
  h3 {
    font-family: "Product Sans";
    font-size: 30px;
  }
  .card {
    background: $white;
    float: left;
    width: 95%;
    padding: 65px 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-bottom: 5px solid #3E5BE0;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.07);
  }
}

.rq-form {
  margin-top: 15px;
  input[type="text"] {
    width: 100%;
    background: #F6F6F6;
    padding: 8px;
    border: none;
  }
  textarea {
    width: 100%;
    background: #F6F6F6;
    padding: 8px;
    border: none;
  }
  button {
    border: 1px solid #000000;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: bold;
    outline: none;
  }
}

.rq-footer {
  background: #F6F6F6;
  padding: 50px 0 0 0;
  p {
    margin: 20px 0;
    font-size: 12px;
    color: rgba(0,0,0,0.4);
    line-height: 20px;
    span {
      display: block;
    }
  }
  h3 {
    font-size: 18px;
    font-family: "Product Sans";
    font-weight: bold;
  }
  ul {
    margin: 20px 0;
    font-size: 12px;
    color: rgba(0,0,0,0.4);
    line-height: 20px;
    li {
      list-style: none;

    }
  }
}

.footer-strip {
  background: #EFEFEF;
  color: rgba(0,0,0,0.4);
  padding: 20px;
  font-size: 14px;
  ul {
    margin: 0;
    display: $inline-block;
    vertical-align: middle;
    li {
      padding: 0 15px;
      font-size: 14px;
      display: $inline-block;
      position: $relative;
      &:after {
        content: "";
        position: $absolute;
        top: 2px;
        bottom: 2px;
        right: 0;
        background: rgba(0,0,0,0.4);
        width: 1px;
      }
    }
  }
}

.rq-circle-1 {
  position: $absolute;
  top: 200px;
  left: 50px;
  width: 650px;
  height: 650px;
  background: $primary-color;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 99;
}

.rq-circle-2 {
  position: $absolute;
  top: 450px;
  left: -5px;
  width: 650px;
  height: 650px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 70px solid #008ECE;
  z-index: 9;
}

.bottom-strip--white {
  background: url(/app/assets/images/bottom-strip-white.png);
  height: 328px;
  background-size: cover;
  position: $absolute;
  bottom: -210px;
  left: -2px;
  right: 0;
  z-index: 2;
}

.bottom-strip--blue {
  background: url(/app/assets/images/bottom-strip-blue.png);
  height: 220px;
  background-size: cover;
  position: $absolute;
  bottom: -100px;
  left: -2px;
  right: 0;
  z-index: 1;
}

.bottom-strip-1 {
  background: url(/app/assets/images/bottom-strip-1.svg);
  height: 328px;
  background-size: cover;
  position: $absolute;
  bottom: -325px;
  left: -90px;
  right: -2px;
  z-index: 1;
}

.bottom-strip-2 {
  background: url(/app/assets/images/bottom-strip-2.svg);
  height: 328px;
  background-size: cover;
  position: $absolute;
  bottom: -150px;
  left: -90px;
  right: -2px;
  z-index: 1;
}

.grey-top {
  background: url(/app/assets/images/grey-top.svg);
  height: 437px;
  background-size: cover;
  position: $absolute;
  top: 0;
  left: -90px;
  right: 0;
}

.grey-bottom {
  background: url(/app/assets/images/grey-bottom.svg);
  height: 385px;
  background-size: cover;
  position: $absolute;
  left: -90px;
  right: -40px;
  bottom: -375px;
  z-index: 1;
}

.testimonial-header {
  .info {
    margin-left: 15px;
  }
  .title {
    font-size: 22px;
    font-weight: 900;
  }
  .designation {
    font-size: 12px;
    margin-top: 5px;
  }
}

.testimonial-content {
  font-size: 16px;
  margin-top: 20px;
  line-height: 22px;
}

.testimonial-bg {
  background: url(/app/assets/images/testimonial-bg.svg);
  height: 1092px;
  background-size: cover;
  position: $absolute;
  right: 0;
  left: 0;
  z-index: 1;
}

.testimonial-wrapper {
  margin-top: 100px;
}

.bx-wrapper {
  background: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.bx-viewport {
  height: inherit !important;
}

.bx-controls-direction {
  position: absolute !important;
  bottom: -40px !important;
  left: 40px !important;
}

.bx-wrapper .bx-next {
  left: 10px !important;
  right: initial !important;
}

.bx-wrapper .bx-prev {
  right: 10px !important;
  left: initial !important;
}

.bx-wrapper .bx-pager {
  display: none !important;
}

@media (max-width: 768px) {
  ///* For mobile phones: */
  //[class*="col-"] {
  //  width: 100%;
  //}

  .rq-services {
    p {
      width: 100%;
    }
    .card {
      padding: 40px 20px;
      margin-bottom: 25px;
      span {
        display: inline-block;
        vertical-align: middle;
        img {
          margin: 0 auto;
        }
        &:first-child {
          position: relative;
          top: initial;
          width: 20%;
          -webkit-transform: initial;
          -moz-transform: initial;
          -ms-transform: initial;
          -o-transform: initial;
          transform: initial;
        }
        &:last-child {
          position: relative;
          bottom: initial;
          left: initial;
          margin-left: 15px;
        }
      }
      &.one, &.two, &.three, &.four {
        position: relative;
        top: initial;
        height: initial;
      }
    }
  }

}
