@import url(product-sans.css);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

h1 {
  font-family: "Product Sans";
  font-size: 42px;
  font-weight: 700;
  padding: 0 30px;
  position: relative;
  display: inline-block; }
  h1:after {
    content: "";
    position: absolute;
    background: #1869CD;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    bottom: 10px;
    right: 5px; }

svg {
  width: 100%;
  position: absolute;
  bottom: -580px;
  right: -60px;
  z-index: 2; }

.padZero {
  padding: 0; }

ul.nav-list {
  float: right;
  padding: 20px 0; }
  ul.nav-list li {
    cursor: pointer;
    list-style: none;
    float: left;
    padding: 15px 25px;
    position: relative;
    font-size: 13px; }
    ul.nav-list li a {
      text-decoration: none;
      color: #FFFFFF; }
    ul.nav-list li.active:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: #FFFFFF;
      width: 5px;
      height: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    ul.nav-list li.rq-cta {
      border: 1px solid #FFFFFF; }
      ul.nav-list li.rq-cta.active:after {
        background: transparent; }

.sticky ul.nav-list li a {
  color: #000000; }

.sticky ul.nav-list li.active:after {
  background: #000000; }

.sticky ul.nav-list li.rq-cta {
  border: 1px solid #000000; }
  .sticky ul.nav-list li.rq-cta.active:after {
    background: transparent; }

.rq-logo {
  padding: 20px 0; }
  .rq-logo img {
    width: 200px; }

.rq-header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  color: #FFFFFF; }
  .rq-header.sticky {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    color: #FFFFFF;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px #49444414;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear; }

.rq-landing {
  position: relative;
  background: #0C175F;
  height: 100vh; }

.rq-services {
  position: relative;
  background: #FFFFFF;
  height: 100vh;
  display: flex;
  align-items: center; }
  .rq-services p {
    font-size: 20px;
    margin: 30px;
    line-height: 28px;
    width: 33.33%;
    font-weight: 100; }
  .rq-services .card {
    background: #FFFFFF;
    float: left;
    width: 95%;
    height: 270px;
    padding: 20px;
    z-index: 2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 5px solid #3E5BE0;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.07); }
    .rq-services .card span:last-child {
      position: absolute;
      bottom: 20px;
      left: 20px; }
  .rq-services .title {
    font-family: "Product Sans";
    font-size: 24px;
    line-height: 28px; }
  .rq-services .card span:first-child {
    position: absolute;
    top: 40%;
    transform: translateY(-50%); }
  .rq-services .card.one {
    position: absolute;
    top: 60px;
    height: 275px; }
  .rq-services .card.two {
    position: absolute;
    top: 60px;
    height: 305px; }
  .rq-services .card.three {
    position: absolute;
    top: -120px;
    height: 305px; }
  .rq-services .card.four {
    position: absolute;
    top: -90px;
    height: 275px; }

.rq-expertise {
  position: relative; }
  .rq-expertise .expertise-offset {
    height: 437px; }
  .rq-expertise .expertise-content {
    background: #F8F8F8;
    padding-bottom: 25px; }
  .rq-expertise h4 {
    font-family: "Product Sans";
    font-size: 28px; }
  .rq-expertise p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 20px; }
  .rq-expertise .card {
    float: left;
    position: relative;
    overflow: hidden;
    width: 50%;
    margin-top: 60px; }
    .rq-expertise .card img {
      border-radius: 32px;
      margin: 0 auto; }
    .rq-expertise .card .overlay {
      position: absolute;
      padding: 20px;
      color: #FFFFFF;
      bottom: 0;
      right: 6%;
      left: 25%;
      border-bottom-right-radius: 32px;
      background: rgba(0, 0, 0, 0.95);
      top: 50%; }

.rq-clients {
  position: relative;
  background: #2D47BF;
  padding: 250px 0 0 0; }
  .rq-clients p {
    color: #FFFFFF;
    margin: 15px 0; }
  .rq-clients h1 {
    color: #FFFFFF; }
    .rq-clients h1:after {
      background: #FFFFFF; }

.rq-case-studies {
  position: relative;
  background: #FFFFFF;
  padding: 250px 0; }
  .rq-case-studies .card {
    background: #333230;
    position: relative;
    width: 85%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 380px;
    padding: 50px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.07); }
    .rq-case-studies .card ul.cs-list {
      position: absolute;
      bottom: 50px;
      left: 50px;
      z-index: 1; }
      .rq-case-studies .card ul.cs-list li {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        list-style: none;
        line-height: 28px;
        font-weight: bold; }
    .rq-case-studies .card.one, .rq-case-studies .card.two, .rq-case-studies .card.six {
      color: #FFFFFF; }
    .rq-case-studies .card.three, .rq-case-studies .card.four, .rq-case-studies .card.five {
      color: #191919; }
    .rq-case-studies .card.one .cs-bg {
      position: absolute;
      left: -235px; }
    .rq-case-studies .card.two .cs-bg {
      position: absolute;
      left: 0;
      top: 0; }
    .rq-case-studies .card.three .cs-bg {
      position: absolute;
      right: 0;
      bottom: 15px; }
    .rq-case-studies .card.four .cs-bg {
      position: absolute;
      right: 0;
      top: 0; }
    .rq-case-studies .card.five .cs-bg {
      position: absolute;
      right: -50px; }
    .rq-case-studies .card.six .cs-bg {
      position: absolute;
      right: -15px;
      bottom: 0; }
    .rq-case-studies .card .title {
      font-family: "Product Sans";
      font-size: 32px;
      position: relative;
      z-index: 1; }
    .rq-case-studies .card.one {
      background: #333230; }
    .rq-case-studies .card.two {
      background: #242428; }
    .rq-case-studies .card.three {
      background: #F2D91D; }
    .rq-case-studies .card.four, .rq-case-studies .card.five {
      background: #FFFFFF; }
    .rq-case-studies .card.six {
      background: #372543; }

.rq-achievements {
  position: relative;
  background: #FFFFFF;
  padding: 250px 0 30px 0; }

.rq-awards span {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 30px; }

.rq-awards img {
  width: 150px; }

.rq-client-list span {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 30px;
  width: 25%; }

.rq-client-list img {
  width: 150px; }

.rq-partners {
  position: relative;
  background: #FFFFFF;
  height: 1092px;
  padding: 30px 0; }
  .rq-partners .container > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9; }

.rq-testimonials h1 {
  color: #FFFFFF; }
  .rq-testimonials h1:after {
    background: #FFFFFF; }

.testimonial-header > div {
  display: inline-block;
  vertical-align: middle;
  color: #FFFFFF;
  text-align: left; }
  .testimonial-header > div span {
    display: block; }

.testimonial-content {
  font-size: 16px;
  color: #FFFFFF;
  text-align: left; }

.rq-partners-wrapper {
  height: 500px;
  position: relative;
  margin-top: 60px; }
  .rq-partners-wrapper span {
    width: 192px;
    height: 192px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #FFFFFF;
    position: absolute;
    -webkit-box-shadow: 0 3px 46px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 3px 46px rgba(0, 0, 0, 0.07);
    box-shadow: 0 3px 46px rgba(0, 0, 0, 0.07); }
    .rq-partners-wrapper span img {
      width: 150px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto; }
    .rq-partners-wrapper span.one {
      top: 0;
      left: 0; }
    .rq-partners-wrapper span.two {
      top: 0;
      left: 250px;
      z-index: 2; }
    .rq-partners-wrapper span.three {
      top: 115px;
      left: 100px;
      width: 225px;
      height: 225px;
      z-index: 1; }

.rq-contact {
  position: relative;
  background: #2E48BF;
  padding: 200px 0 100px 0;
  overflow: hidden; }
  .rq-contact h3 {
    font-family: "Product Sans";
    font-size: 30px; }
  .rq-contact .contact-content {
    position: relative;
    z-index: 1; }
  .rq-contact .card {
    background: #FFFFFF;
    float: left;
    width: 100%;
    padding: 65px 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-bottom: 5px solid #3E5BE0;
    box-shadow: 0 3px 99px rgba(0, 0, 0, 0.15); }
  .rq-contact .circle {
    position: absolute;
    right: -450px;
    top: 0;
    border-radius: 50%;
    width: 1390px;
    height: 1390px;
    border: 120px solid #FFFFFF;
    z-index: 1; }

.rq-form {
  margin-top: 15px; }
  .rq-form input[type="text"] {
    width: 100%;
    background: #F6F6F6;
    padding: 8px;
    border: none; }
  .rq-form textarea {
    width: 100%;
    background: #F6F6F6;
    padding: 8px;
    border: none; }
  .rq-form button {
    border: 1px solid #000000;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: bold;
    outline: none; }

.rq-footer {
  background: #F6F6F6;
  padding: 50px 0 0 0; }
  .rq-footer p {
    margin: 20px 0;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    line-height: 20px; }
    .rq-footer p span {
      display: block; }
  .rq-footer h3 {
    font-size: 18px;
    font-family: "Product Sans";
    font-weight: bold; }
  .rq-footer ul {
    margin: 20px 0;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    line-height: 20px; }
    .rq-footer ul li {
      list-style: none; }

.footer-strip {
  background: #EFEFEF;
  color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  font-size: 14px; }
  .footer-strip ul {
    margin: 0;
    display: inline-block;
    vertical-align: middle; }
    .footer-strip ul li {
      padding: 0 15px;
      font-size: 14px;
      display: inline-block;
      position: relative; }
      .footer-strip ul li:first-child {
        padding-left: 0; }
      .footer-strip ul li:last-child:after {
        background: transparent; }
      .footer-strip ul li:after {
        content: "";
        position: absolute;
        top: 2px;
        bottom: 2px;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
        width: 1px; }

.rq-circle-1 {
  position: absolute;
  top: 200px;
  left: 50px;
  width: 650px;
  height: 650px;
  background: #2D47BF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 99; }

.rq-circle-2 {
  position: absolute;
  top: 450px;
  left: -5px;
  width: 650px;
  height: 650px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 70px solid #008ECE;
  z-index: 9; }

.bottom-strip--white {
  background: url(/app/assets/images/bottom-strip-white.png);
  height: 328px;
  background-size: cover;
  position: absolute;
  bottom: -210px;
  left: -2px;
  right: 0;
  z-index: 2; }

.bottom-strip--blue {
  background: url(/app/assets/images/bottom-strip-blue.png);
  height: 220px;
  background-size: cover;
  position: absolute;
  bottom: -100px;
  left: -2px;
  right: 0;
  z-index: 1; }

.bottom-strip-1 {
  background: url(/app/assets/images/bottom-strip-1.svg);
  height: 328px;
  background-size: cover;
  position: absolute;
  bottom: -325px;
  left: -90px;
  right: -2px;
  z-index: 1; }

.bottom-strip-2 {
  background: url(/app/assets/images/bottom-strip-2.svg);
  height: 328px;
  background-size: cover;
  position: absolute;
  bottom: -150px;
  left: -90px;
  right: -2px;
  z-index: 1; }

.grey-top {
  background: url(/app/assets/images/grey-top.svg);
  height: 437px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: -90px;
  right: 0; }

.grey-bottom {
  background: url(/app/assets/images/grey-bottom.svg);
  height: 385px;
  background-size: cover;
  position: absolute;
  left: -90px;
  right: 0;
  bottom: -384px;
  z-index: 1; }

.testimonial-header .info {
  margin-left: 15px; }

.testimonial-header .title {
  font-size: 22px;
  font-weight: 900; }

.testimonial-header .designation {
  font-size: 12px;
  margin-top: 5px; }

.testimonial-content {
  font-size: 16px;
  margin-top: 20px;
  line-height: 22px; }

.testimonial-bg {
  background: url(/app/assets/images/testimonial-bg.svg);
  height: 1092px;
  background-size: cover;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1; }

.testimonial-wrapper {
  margin-top: 100px; }

.bx-wrapper {
  background: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.bx-viewport {
  height: inherit !important; }

.bx-controls-direction {
  position: absolute !important;
  bottom: -40px !important;
  left: 40px !important; }

.bx-wrapper .bx-next {
  left: 10px !important;
  right: initial !important; }

.bx-wrapper .bx-prev {
  right: 10px !important;
  left: initial !important; }

.bx-wrapper .bx-pager {
  display: none !important; }

@media (max-width: 768px) {
  svg {
    display: none; }
  .rq-expertise .card {
    width: 100%; }
    .rq-expertise .card .overlay {
      right: 0; }
  .rq-services {
    display: inline-block;
    padding-top: 120px; }
    .rq-services p {
      width: 100%; }
    .rq-services .card {
      padding: 40px 20px;
      margin-bottom: 25px; }
      .rq-services .card span {
        display: inline-block;
        vertical-align: middle; }
        .rq-services .card span img {
          margin: 0 auto; }
        .rq-services .card span:first-child {
          position: relative;
          top: initial;
          width: 20%;
          -webkit-transform: initial;
          -moz-transform: initial;
          -ms-transform: initial;
          -o-transform: initial;
          transform: initial; }
        .rq-services .card span:last-child {
          position: relative;
          bottom: initial;
          left: initial;
          margin-left: 15px; }
      .rq-services .card.one, .rq-services .card.two, .rq-services .card.three, .rq-services .card.four {
        position: relative;
        top: initial;
        height: initial; }
  .rq-partners {
    background: #2D47BF; }
    .rq-partners h1 {
      color: #FFFFFF; }
      .rq-partners h1:after {
        background: #FFFFFF; }
  .rq-partners-wrapper {
    height: auto;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px; }
    .rq-partners-wrapper span {
      width: 192px;
      height: 192px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: relative;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .rq-partners-wrapper span img {
        top: initial;
        transform: initial;
        position: relative;
        padding: 15px 0;
        left: initial;
        right: initial;
        margin: 0 auto;
        display: block; }
      .rq-partners-wrapper span.one {
        top: initial;
        left: initial; }
      .rq-partners-wrapper span.two {
        top: initial;
        left: initial; }
      .rq-partners-wrapper span.three {
        top: initial;
        left: initial; }
  .rq-header {
    background: #0C175F; }
  ul.nav-list {
    display: none;
    float: none;
    text-align: center;
    width: 90%;
    margin: 0 auto; }
    ul.nav-list li {
      float: none;
      display: block; }
  .mobile-menu {
    position: absolute;
    top: 30px;
    right: 15px; }
    .mobile-menu i {
      font-size: 32px; }
  .mobile-nav-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    top: 86px;
    background: #0b165f;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); }
    .mobile-nav-wrapper ul.nav-list li.active:after {
      background: none; }
  .sticky .mobile-menu i {
    color: #000000; }
  .sticky .mobile-nav-wrapper {
    background: #FFFFFF; }
  .rq-client-list span {
    width: 100%; }
  .mobile-view h1 {
    padding: 0; }
    .mobile-view h1:after {
      background: none; }
  .mobile-view div {
    position: absolute;
    top: 170px;
    left: 30px;
    right: 0;
    margin: 0 auto;
    color: #FFFFFF; }
  .mobile-view span {
    position: absolute;
    z-index: 5;
    bottom: -86px;
    width: 250px;
    right: 0;
    left: 0;
    margin: 0 auto; }
  .resp-center {
    text-align: center;
    padding: 10px 0; } }

@media (min-width: 1440px) {
  svg {
    bottom: -570px; } }
